
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	h3{
	margin-left:12px;

	}
	nav{
	background-color:black;
	height:35px;
	width:100%;
	color: white;
	}
	nav ul{
	float: left;
	margin-left:72px;
	margin-top:-20px;
	}
	nav ul li{
	display:inline-block;
	text-align: left;
	float: left;
	}
	a{
	color:white;
	text-decoration: none;
	margin-left:12px;
	}
	.contact input{
	border:2px solid;
	border-radius:4px;
	float:left;
	margin-left:1057px;
	margin-top:-19px;
	height:25px;
	}
	.contact button{
	border-color: green;
	color:green;
	border-radius:4px;
	float:right;
	margin-top:-19px;
	margin-right: 2px;
	height:25px;
	}
	h1{
	margin-left:82px;
	}
	p1{
	margin-left:82px;
	
	}
	p2{
	 margin-left:82px;
	 
	}
	footer{
	margin-left:72px;
	margin-top:223px;
	}
	.info button{
	margin-left:82px;
	height:25px;
	background-color:dodgerblue;
	border:0px solid;
	width:98px;
	border-radius:4px;
	}
	.container{
	background-color:ghostwhite;
	height:223px;
	}
	.contact a{
	color:green;
	}
	.col{
	width: 100%;
	}
	.col article{
	width:24%;
	margin-left:82px;
	float: left;
	}
	.col h1{
	margin-left:0px;
	}
	.col button{
	background-color: gray;
	border:0px solid;
	border-radius:4px;
	}

	@media(max-width: 767px) {

		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
			}
			h3{
			margin-left:12px;
		
			}
			nav{
				background-color:black;
				height:35px;
				width:100%;
				color: white;
				}
				nav ul{
				float: left;
				margin-left:72px;
				margin-top:-20px;
				}
				nav ul li{
				display:inline-block;
				text-align: left;
				float: left;
				}	
				a{
					color:white;
					text-decoration: none;
					margin-left:12px;
					}	
					.contact input{
						border:2px solid;
						border-radius:4px;
						float:left;
						margin-left:507px;
						margin-top:-19px;
						height:25px;
						}
						.contact button{
						border-color: green;
						color:green;
						border-radius:4px;
						float:right;
						margin-top:-19px;
						margin-right: 2px;
						height:25px;
						}	
						h1{
							margin-left:82px;
							}
							p1{
							margin-left:82px;
							display:inline-block;
							}
							p2{
							 margin-left:82px;
							 
							}
							footer{
							margin-left:72px;
							margin-top:327px;
							}
							.info button{
							margin-left:82px;
							height:25px;
							background-color:dodgerblue;
							border:0px solid;
							width:98px;
							border-radius:4px;
							margin-top: 5px;
							}
							.container{
							background-color:ghostwhite;
							height:223px;
							}
							.contact a{
							color:green;
							}
							.col{
							width: 100%;
							}
							.col article{
							width:18%;
							margin-left:82px;
							float: left;
							}
							.col h1{
							margin-left:0px;
							}
							.col button{
							background-color: gray;
							border:0px solid;
							border-radius:4px;
							}				
}

@media(min-width: 768px) and (max-width: 1024px){
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		}
		h3{
		margin-left:12px;
	
		}
		nav{
		background-color:black;
		height:35px;
		width:100%;
		color: white;
		}
		nav ul{
		float: left;
		margin-left:72px;
		margin-top:-20px;
		}
		nav ul li{
		display:inline-block;
		text-align: left;
		float: left;
		}
		a{
		color:white;
		text-decoration: none;
		margin-left:12px;
		}
		.contact input{
		border:2px solid;
		border-radius:4px;
		float:left;
		margin-left:794px;
		margin-top:-19px;
		height:25px;
		}
		.contact button{
		border-color: green;
		color:green;
		border-radius:4px;
		float:right;
		margin-top:-19px;
		margin-right: 2px;
		height:25px;
		}
		h1{
		margin-left:82px;
		
		}
		p1{
		margin-left:82px;
		display:inline-block;
		}
		p2{
		 margin-left:82px;
		 
		}
		footer{
		margin-left:72px;
		margin-top:223px;
		}
		.info button{
		margin-left:82px;
		height:25px;
		background-color:dodgerblue;
		border:0px solid;
		width:98px;
		border-radius:4px;
		}
		.container{
		background-color:ghostwhite;
		height:223px;
		}
		.contact a{
		color:green;
		}
		.col{
		width: 100%;
		}
		.col article{
		width:24%;
		margin-left:82px;
		float: left;
		}
		.col h1{
		margin-left:0px;
		}
		.col button{
		background-color: gray;
		border:0px solid;
		border-radius:4px;
		}
		
}